@import 'reset.css';
@import './About.css';
@import './Projects.css';
@import './Contact.css';

.nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.logo{
  float: left;
  margin-left: 20px;
  height: 60px;
  width: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.nav ul{
  float: right;
  margin-right: 20px;
}

.nav-item {
  padding: 0 40px;
  height: 60px;
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
}

.selected {
  color: white;
  border-bottom: 4px solid white;
}

.section-content {
  margin: 0 auto;
  padding-top: 100px;
  width: 900px;
}
