.contact-container {
  /*background-color: #48BEFF;*/
  background-color: #F8602C;
  min-height: 100vh;
}

.contact-container h1 {
  font-family: "Lobster", serif;
  color: #DB2763;
  font-size: 60px;
}

.contact-content {
  background-color: #ffffff;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
}

.contact-info {
  padding: 40px 60px;
}

.contact-info a {
  color: #1FAD69;
  text-decoration: underline;
  font-weight: bold;
}

.contact-info p {
  margin-top: 20px;
}

.contact-info a:hover {
  color: #DB2763;
}
