.projects-container{
  /*background-color: #A2D729;*/
  background-color: #1FAD69;
  min-height: 100vh;
}

.projects-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-card {
  width: 475px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 5px;
}

.project-card-secondary {
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 50px;
}

.project-image {
  height: 240px;
  width: auto;
  margin: 0 auto;
}

.project-card-secondary .project-image {
  height: 100px;
  width: auto;
  float: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.projects-container a {
  color: blue;
}

.projects-container a:hover {
  color: purple;
}
