.projects-container{
  /*background-color: #A2D729;*/
  background-color: #1FAD69;
  min-height: 100vh;
}

.projects-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-card {
  width: 475px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 5px;
}

.project-card-secondary {
  width: 300px;
  height: 225px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 50px;
}

.project-image {
  height: 240px;
  width: auto;
  margin: 0 auto;
}

.project-card-secondary .project-image {
  height: 100px;
  width: auto;
  margin: 0 auto;
}

.projects-container a {
  color: #DB2763;
  text-decoration: underline;
  font-weight: bold;
}

.projects-container a:hover {
  color: #F8602C;
}

.projects-container p {
  margin: 20px;
  font-size: 14px;
}

#react-img-container {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: black;
}

#aa-img-container {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ff0000;
}

#yo-img-container {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #9a59b5;
}
